.news-list {
	margin-top: 50px;
}

.news-source-textfield {
	width: 300px;
}

.percentage-green {
	color: green;
};

.percentage-red {
	color: red;
}

.extended-percentage-red {
	color: red;
}

.extended-percentage-green {
	color: green;
};